{% extends 'base.html' %}

{% block content %}
<h1>Home Page gowno</h1>

    <div class="container mt-4">
        <h2>Featured Destinations</h2>
        <div class="row">
            {% for destination in destinations %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ url_for('static', filename='images/' + destination.image) }}" class="card-img-top" alt="{{ destination.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ destination.name }}</h5>
                        <p class="card-text">{{ destination.description[:100] }}...</p>
                        <a href="{{ url_for('destination_detail', id=destination.id) }}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}