{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% for post in posts %}
<div class="post-container">
    <div class="vote-container">
        <form action="{{ url_for('upvote_post', id=post.id) }}" method="POST" class="vote-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-sm btn-success">▲</button>
        </form>
        <div class="vote-score">{{ post.score() }}</div>
        <form action="{{ url_for('downvote_post', id=post.id) }}" method="POST" class="vote-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-sm btn-danger">▼</button>
        </form>
    </div>
    <div class="post-content">
        <h2><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a><br/></h2>
        <small>By: {{ post.poster.name }}<br/>
        {{ post.date_posted.strftime('%Y-%m-%d') }}</small><br/><br/>
        {{ post.content | safe}}<br/><br/>
        <a href="{{ url_for('post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">View Post</a>
        {% if post.poster_id == current_user.id or current_user.id == 13 %}
        <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
        <form action="{{ url_for('delete_post', id=post.id) }}" method="post" class="inline-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-outline-danger btn-sm">Delete Post</button>
        </form>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}
